.something {
  color: #333;
}

.something2 {
  color: #9C9C9A;
}

.something3 {
  color: #5E5E5E;
}

.something4 {
  color: #9C9C9A;
}

.something5 {
  color: #959595;
}

.something6 {
  color: #F3F3F3;
}

.something7 {
  color: #123;
}

.something8 {
  color: #363636;
}

.something9 {
  color: #E5E5E5;
}

.something10 {
  color: #EEEEEE;
}
